body { background-color: #fff; color: #5f5f5f; }
/*	3d541d; }*/

body, p, ol, ul, td {
  font-family: Arial, "MS Trebuchet", sans-serif;
/*  font-family: Garamond, Georgia, serif;*/
  font-size:   22px;
  line-height: 32px;
}

#inputarea {
	margin-left: auto ;
  	margin-right: auto ;
}

div#instructions {
	margin-top: 50px;
	margin-left: auto ;
  	margin-right: auto ;
}

em {
	color: #b3b3b3;
/*	color: #571b23;*/
}

div#bar	{
	height: 1px;
	border-style: none;
	color: #d0d0d0;
	background-color: #C0C0C0;
	width: 100%;
	margin-left: auto ;
  	margin-right: auto ;
 	margin-top: 150px;
	}

.inputblock {
	
	width:685px;
	line-height: 18px;
	margin-bottom:117px;    
	margin-left: auto ;
  	margin-right: auto ;
    font-size: 26px;
}

input {
	#font-family: Garamond, Georgia, serif;
	
}

.inputboxes {
/*	border:4px solid #571B23;*/
	border: 3px solid #c0c0c0;
	float:left;
	margin-top:6px;
	width:599px;
}

input#site_name
{
  line-height: 18px;
  #border: 4px solid #781351;
  font-size: 26px;
}

input#term
{
  line-height: 18px;
  #border: 4px solid #781351;
  font-size: 26px;
}

input#go_button
{
/*  	vertical-align: middle;*/
    padding-bottom: 5px;
	float: right;
/*	width: 130px;*/
}

#header {
	float: right;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { 
	color: #d0d0d0; 
	text-decoration: none;
	font-size: 12px;
	}
a:visited { color: #666; }
a:hover { color: #fff; background-color:#000; }

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

td {
  	font-size : 10px;
	line-height: 12px;
/*  font-family : "Myriad Web",Verdana,Helvetica,Arial,sans-serif;*/
/*  background : #efe none; color : #630; */
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

