<br/>Listing top 3 sites visited
<br/>
<br/>
<table border="0" cellspacing="5" cellpadding="5">
	<% puts "Arrived at list" %>
	<tr><th>Site</th>
	<th>Count</th>
	<th>Url</th>
	
		</tr>
	<% for site in @sites %>
		<tr>
			<td><%= link_to site.name, 'http://'+site.url %></td>
			<!-- <td>
					<%= site.name %></td> -->
			<td><%= site.counts %></td>
			<td><%= site.url %></td>
		</tr>
		<% end %>
		
		
</table>
