<table border="0" cellspacing="5" cellpadding="5">
	<tr><th>Header</th></tr>
	<tr><td>Data</td></tr>
	<% for site in @sites %>
		<tr>
			<td><%= site.name %></td>
			<td><%= site.id %></td>
			<td><%= site.url %></td>
		</tr>
		<% end %>
	
</table>
